__pycache__
.vscode
.DS_store
*.ipynb_checkpoints
models/logs/
models/checkpoint/
models/data/
models/preprocess_data/
models/result
preprocess/test/
preprocess/result/
pre
losses.csv
preprocess/SIMSUN.ttf
